.footer {
    background-color: $brand-primary;
    @include element("icons") {
        display: -webkit-box;
        padding: 15px 20px 18px 20px;
        @include breakpoint($bp-medium) {
            padding: 15px 0px 18px 0px;
            display: block;
        }
    }
    @include element('container') {
        padding: 10px 0 5px 0;
        display: table;
        width: 100%;
        @include breakpoint($bp-medium) {
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 5px;
            display: block;
            width: auto;
            @include container-render;
        }
    }
     @include element("strapline") {
         width: 270px;
        @include breakpoint($bp-medium) {
            width: 190px;
            padding-top: 20px;
        }
    }
    @include element("care-quality") {
         width: 95px;
    }
    @include element("bottom-container") {
        padding: 10px 0 40px 0;
        background-color: $brand-secondary;
        @include breakpoint($bp-medium) {
            padding-bottom: 15px;
            padding-top: 15px;
        }
    }
    @include element("left-right-container") {
        text-align: center;
        position: relative;
        height: 80px;
        padding-bottom: 10px;
        @include breakpoint($bp-medium) {
            @include span(6 nest);
            text-align: left;
            padding-bottom: 5px;
            height: auto;
        }
        @include modifier("right") {
            height: auto;
            @include breakpoint($bp-medium) {
                text-align: right;
            }
        }
        @include modifier("alternate") {
            height: auto;
            display: table-footer-group;
            padding-bottom: 0;
            @include breakpoint($bp-medium) {
                @include span(4 nest);
                padding-bottom: 20px;
            }
        }
        @include modifier("quicklinks") {
            height: auto;
            @include breakpoint($bp-medium) {
                @include span(8 nest);
            }
        }
    }
}
