<div id="page" class="container">
    <div class="row">
        <!-- Content -->
        <div id="sidebar" class="8u">
            @Html.Partial("RssFeeds/_BioTechRssFeed")
        </div>
    </div>
</div>    
