<!-- Banner -->
<div id="banner" class="container">
    <section>
        <p>Biotechnology is the use of biological processes, organisms, or systems to manufacture products intended to improve the quality of human life. The earliest biotechnologists were farmers who developed improved species of plants and animals by cross pollenization or cross breeding. In recent years, biotechnology has expanded in sophistication, scope, and applicability.</p>
    </section>
</div>