.about-service {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    text-align: center;
    @include modifier('alternate') {
        @include breakpoint($bp-medium) {
            padding-top: 10px;
        }
    }
    @include breakpoint($bp-medium) {
        background-color: $white;
    }
    @include element('container') {
        @include breakpoint($bp-medium) {
            padding: 0 25%;
        }
        @include modifier('alternate') {
            @include breakpoint($bp-medium) {
                padding: 0 15%;
            }
        }
    }
    @include element('title') {
        margin-bottom: 65px;
        color: $brand-secondary;
        position: relative;
        &:after {
            content: "";
            width: 160px;
            border-top: 1px solid $gray-suit;
            position: absolute;
            bottom: -25px;
            left: 50%;
            margin-left: -80px;
            @include breakpoint($bp-medium) {
                width: 100px;
                margin-left: -50px;
            }
        }
    }
}
