.appointments {
    background-color: $white;
    margin-bottom: 20px;
    @include span(12);

    @include element('container') {
        position: relative;
        padding: 20px 30px 20px 30px;
    }

    @include element('item') {
        padding: 0;
        display: flex;
        position: relative;
        
        @include breakpoint($bp-large) {
            align-items: center;
        }
    }
    @include element('paragraph-span') {
        position: relative;
        margin-left: 20px;
    }
    @include element('hospital-link') {
        color: $abbey;
        text-decoration: none;
    }
    @include element('tooltip') {
        position: relative;
    }
    @include element('request-form') {
        margin-bottom: 15px;
    }
    @include element('title') {
        margin-bottom: 10px;
        font-size: em(27px);
        color: $shakespeare;
    }
    @include element('icon') {
        font-size: em(20px);
        color: $shakespeare;
        position: relative;
        top: 3px;
    }
    @include element('hospital') {
        @include breakpoint($bp-medium) {
            flex-grow: 2;
            flex-shrink: 2;
        }
        @include breakpoint($bp-large) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    @include element('show-more') {
        min-width: 30px;
        flex-basis: 0;
        text-align: right;
        position: relative;
        padding-top: 10px;

        @include breakpoint($bp-small) {
            min-width: 210px;
        }

        @include breakpoint($bp-large) {
            flex-grow: 1;
            flex-shrink: 1;
        }

        &:after {
            font-family: spire;
            content: "\e902";
            color: $brand-supplement;
            font-size: em(35px);
            position: absolute;
            top: 0;
            right: 0;
        }

        &:before {
            @include breakpoint($bp-small) {
                content: "Show more";
                font-size: em(17px);
                color: $brand-supplement;
                display: block;
                padding-right: 45px;
            }
        }
        @include modifier('active') {
            &:after {
                font-family: spire;
                content: "\e901";
                color: $brand-supplement;
                font-size: em(35px);
                position: absolute;
                top: 0;
                right: 0;
            }
            &:before {
                @include breakpoint($bp-small) {
                    content: "Hide";
                    font-size: em(17px);
                    color: $brand-supplement;
                    display: block;
                    padding-right: 45px;
                }
            }
        }
    }

    @include element('option-container') {
        list-style: none;
        display: none;
        z-index: 10;
        position: relative;
        //padding-top: 20px;
        @include modifier('active') {
            display: block;
        }
    }
}