.dashboard {
    padding-top: 40px;
    padding-bottom: 45px;
    @include element('section') {
        @include breakpoint($bp-large) {
            @include span(6 nest);
        }
        @include modifier('full-width') {
            @include breakpoint($bp-large) {
                width: 100%;
            }
        }
    }
    @include element('header') {
        text-align: center;
        font-size: em(27px);
        color: $astral;
        font-weight: 600;
        @include breakpoint($bp-large) {
            @include span(12);
        }
    }
    @include element('header-link') {
        color: $astral;
        transition: color 0.3s;
        &:hover {
            color: lighten($astral, 5%);
        }
    }
    @include element('header-icon') {
        font-size: em(18px);
        position: relative;
        top: 3px;
        left: -10px;
    }
    @include element('top-section') {
        @include breakpoint($bp-large) {
            display: inline-block;
        }
    }
}