.details-tabs {
    background-color: $shakespeare;
    @include element('container') {
        padding-left: 25px;
        padding-right: 25px;
        @include breakpoint($bp-large) {
            @include container-render;
        }
    }
    @include modifier('overview') {
        display: none;
        @include breakpoint($bp-large) {
            display: block;
        }
    }
    @include element('list') {
        list-style:none;
        padding: 0;
        margin: 0;
        width: 100%;  
        display: flex;
        @include breakpoint($bp-large) {
            align-items: center;
            justify-content: center;
        }
        @include modifier('alternate') { 
            justify-content: center;
            @include breakpoint($bp-medium) {
                justify-content: space-between;
                align-items: center;
                justify-content: center;
            }
        }
    }
    @include element('item') {
        padding: 0;
        text-align: center;
    }
    @include element('span-overview') { 
        display: none;
        @include breakpoint($bp-large) {
            display: block;
        }
    }
    @include element('link') {
        color: $white;
        display: block;
        font-size: em(17px);
        position: relative;
        padding: 21px 20px 23px 50px;
        display: none;
        transition: all 0.3s ease-in-out;
        text-align: left;
        @include breakpoint($bp-large) {
            display: block;
            height: 100%;
            max-width: 120px;
            padding: 12px 30px 10px 75px;
            text-align: center;
        }
        @include modifier('alternate') {
            display: block;
            padding-bottom: 23px;
            padding-top: 23px;
            padding-left: 10px;
            padding-right: 10px;
            @include breakpoint($bp-small) {
                padding-left: 50px;
                padding-right: 20px;
            }
            @include breakpoint($bp-large) {
                display: block;
                padding-left: 75px;
                padding-right: 30px;
                
            }
        }
        @include modifier('wider') {
            &.details-tabs__link--active {
                background-color: $pelorous;
            }
            @include breakpoint($bp-large) {
                max-width: 180px;
            }
        }
        &:hover {
            background-color: darken($shakespeare, 5%);
        }
        @include modifier('active') {
            display: block;
            @include breakpoint($bp-large) {
                background-color: $pelorous;
            }
        }
        @include modifier('overview') {
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            @include breakpoint($bp-large) {
                padding-top: 22px;
                padding-bottom: 22px;
                padding-left: 70px;
            }
        }
        @include modifier('profile') {
            @include breakpoint($bp-large) {
                max-width: 70px;
            }
        }
        @include modifier('patient') {
            @include breakpoint($bp-large) {
                max-width: 70px;
            }
        }
        @include modifier('account') {
            @include breakpoint($bp-large) {
                max-width: 70px;
            }
        }
        &:hover {
            color: $white;
        }
    }
    @include element('icon') {
        font-size: em(30px);
        position: absolute;
        left: 10px;
        text-align: center;
        @include breakpoint($bp-small) {
            text-align: left;
        }
        @include breakpoint($bp-large) {
            left: 30px;
            top: 50%;
            margin-top: -13px;
        }
        @include modifier("only-desktop") {
            display: none;
            @include breakpoint($bp-large) {
                display: block;
            }
        }
        @include modifier("alternate") {
            position: static;
            display: block;
            @include breakpoint($bp-small) {
                position: absolute;
                display: inline;
            }
        }
    }
    @include element('icon-arrow') {
        font-size: em(30px);
        color: $white;
        position: absolute;
        left: 0;
        top: 0px;
        padding: 20px 10px;
        @include breakpoint($bp-large) {
            display: none;
        }
    }
}

