.email {
    text-align: center;
    @include element('container') {
        margin-top: 50px;
        padding: 100px 20px;
        padding-left: 25px;
        padding-right: 25px;
        background: $white; 
        @include clearfix;
        @include breakpoint($bp-large) {
          @include container-render;
        }
    }
    @include element('title') {
        color: $brand-primary;
    }
    @include element('link') {
        text-decoration: underline;
    }
}