.form-section {
    clear: both;
    @include clearfix;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-suit;
    padding-left: 5%;
    padding-right: 5%;
    @include breakpoint($bp-medium) {
        width: 90%;
    }
    @include modifier('centre-text') {
        text-align: center;
    }
    @include modifier('relative') {
        position: relative;
    }
    @include modifier('full-width') {
        padding-right: 0;
        width: 95%;
    }
    @include modifier('remove-border') {
        border-bottom: none;
    }
    @include modifier('remove-padding') {
        padding: 0;
        width: 100%;
    }
    @include modifier('remove-margin') {
        margin-top: 0;
    }
    @include modifier('margin-top-thirty') {
        margin-top: 30px;
    }
    @include modifier('margin-top') {
        margin-top: 40px;
    }
    @include element('heading-section') {
        margin-bottom: 15px;
        font-size: em(23px);
        color: $abbey;
        @include breakpoint($bp-medium) {
            margin-left: -30px;
        }
    }
    @include element('heading-tooltip') {
        position: relative;
        padding-right: 10px;
    }
    @include element('text-with-links') {
        display: block;
        @include breakpoint($bp-x-large) {
            display: inline;
            padding-left: 15px;
        }
    }
}