
.gp-search{
		.no-gp-option{
		display:none;
	}
	.gp-results {
		width: 99%;
		border: 1px solid $gray-suit;
		border-top: none;
		display:none;
		div.gp-result {
			padding: 4px 3%;
			color: $shakespeare;
			cursor:pointer;
			&:hover{
				background-color:#46B4CD;
				color:white;
			}

			&.gp-selected{
				background-color:#46B4CD;
				color:white;
			}
		}
	}
}


.practice-select {
	width: 99%;
	border: 1px solid $gray-suit;
	border-top: none;
	display:none;
	div.practice-result {
		padding: 4px 3%;
		color: $shakespeare;
		cursor:pointer;
		&:hover{
			background-color:#46B4CD;
			color:white;
		}

		&.practice-selected{
			background-color:#46B4CD;
			color:white;
		}
	}
}	