.heading {
  padding-top: 20px;
  padding-bottom: 20px;
  @include breakpoint($bp-medium) {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  @include modifier('alternate') {
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: $astral;
    color: $white;
    position: relative;
    @include breakpoint($bp-medium) {
      padding-left: 25%;
      padding-right: 25%;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      -webkit-box-shadow: inset 0px 10px 16px 0px rgba(49,133,151,0.5294117647058824);
      -moz-box-shadow: inset 0px 10px 16px 0px rgba(49,133,151,0.5294117647058824);
      box-shadow: inset 0px 10px 16px 0px rgba(49,133,151,0.5294117647058824);

    }
  }
    @include element('container') {
      padding: 15px 25px 0 25px;
      text-align: center;
      @include clearfix;
      @include breakpoint($bp-large) {
        @include container-render;
      }
      @include modifier('alternate') {
        @include breakpoint($bp-large) {
          padding-bottom: 10px;
        }
      }
    }
    @include element('title') {
      margin-bottom: 15px;
      font-size: em(35px);
      color: $brand-primary;
      font-weight: 500;
      @include modifier('white') {
        color: $white;
      }
      @include modifier('margin-bottom') {
        margin-bottom: 10px;
      }
    }
}