.header-links {
    display: none;
    @include breakpoint($bp-medium) {
        display: block;
        text-align: right;
        height: 80px;
        color: $white;
        position: relative;
        @include span(6 nest);
    }
    @include element('container'){
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -10px;
    }
    @include element('item'){
        color: $white;
        position: relative;
        &:hover {
            text-decoration: underline;
            color: $white;
        }
        &:first-child {
            margin-right: 30px;
        }
        &:last-child {
            font-weight: bold;
        }
    }
    @include element('icon') {
        position: absolute;
        top: 0;
        left: -30px;
        font-size: em(25px);
    }
}