.label {
    display: block;
    margin-bottom: 5px; 
    @include modifier('absolute') {
        @include breakpoint($bp-large) {
            position: absolute;
            top: 10px;
            left: -65px;
        }
    }
    @include modifier('extra-margin') {
        margin-bottom: 30px; 
    }
}