.logo {
    width: 218px;
    height: 47px;
    background-image: url("/src/images/mySpire_logo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    text-indent: -9999px;
    left: 50%;
    margin-left: -109px;
    @include breakpoint($bp-medium) {
        left: 0;
        margin-left: 0;
        background-size: contain;
    }
}
