.menu-button {
    text-align: center;
    display: block;
    color: $white;
    font-size:rem(30px);
    position: absolute;
    right: 25px;
    top: 23px;
    z-index: 30;
    @include breakpoint($bp-small) {
        font-size:rem(35px);
        top: 27px;
    }
    &:hover {
        cursor: pointer;
    }
    @include modifier('active') {
        
    }
    @include breakpoint($bp-medium) {
        display: none;
    }
    @include element('icon') {
        font-size: em(30px);
        &:hover {
            color: $white;
        }
    }
}
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}