.password-validation {
    margin-top: 10px;
    @include breakpoint($bp-medium) {
        width: 25%;
        float: left;
    }
    @include breakpoint($bp-large) {
        float: right;
        margin-top: 0;
    }
    @include element('text') {
        font-size: em(12px);
    }
    @include element('bars') {
        display: flex;
        margin-top: 5px;
    }
    @include element('strong') {
        font-weight: 700;
    }
    @include element('bar-item') {
        height: 19px;
        margin-right: 1%;
        width: 20%;
        background: $mercury;
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        @include modifier('weak') {
            background: $milano-red;
        }
        @include modifier('strong') {
            background: $green;
        }
    }
}