.pin-mySpire {
    text-align: center;
    padding-bottom: 30px;
    @include breakpoint($bp-medium) {
        display: flex;
        justify-content: space-between;
    }
    @include element('header') {
        color: $astral;
        font-weight: 600;
        font-size: em(20px);
        margin-top:10px;
        @include breakpoint($bp-medium) {
            margin-top:50px;
        }
    }
}