.prototype-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    
    @include element('list') {
        margin: 0 0 20px 0;
        padding: 0;
        list-style: none;
        width:250px;
    }
    @include element('item') {

    }
    @include element('heading') {
        margin-bottom: 5px;
        padding-left: 20px;
        color: #fff;
        font-size: em(20px);
    }
    @include element('link') {
        padding: 2px 5px 2px 20px;
        text-decoration: none;
        color: $white;
        display: block;
        transition: 0.3s;
        &:hover {
            color: #f1f1f1;
        }
    }

    @include element('close') {
        color: $white;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        &:hover {
            color: $white;
        }
    }  
}
#for-prototype {
    transition: margin-left .5s;
}
.open-prototype-menu {
    font-size: 16px;
    cursor: pointer;
    display: block;
    background-color: #282828;
    color: #fff;
    padding: 10px;
    @include modifier('hide') {
        display: none;
    }
}