.radiolist {
    margin-bottom: 15px;
    display: flex;
    @include breakpoint($bp-medium) {
        margin-bottom: 0;
    }
    label {
        &:first-of-type {
            -webkit-border-top-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-of-type {
            -webkit-border-top-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-bottomright: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    @include element ('label') {
        display: none;
        padding-right: 35px;
        line-height: 1.7;
        @include breakpoint($bp-large) {
            font-size: em(23px);
            display: block;
        }
    }
    .radio {
        &:not(:checked), &:checked {
            position: absolute;
            left: -9999px;
        }

        &:not(:checked) + label, &:checked + label {
            min-width: 70px;
            padding: 7px 15px;
            text-align: center;
            cursor: pointer;
        } 
        &:not(:checked) + label {
            border: 1px solid $brand-supplement;
            color: $brand-supplement;
            font-size: em(17px);
        }

        &:checked + label {
            background-color: $brand-supplement;
            color: $white;
            font-size: em(17px);
        }
    }
}

