.tabs {
    text-align: center;
    @include breakpoint($bp-medium) {
        margin-right: 10%;
        margin-left: 10%;
    }
    @include element('content') {
        display: none;
        padding: 20px;
        text-align: left;
        background: $white;
        @include breakpoint($bp-medium) {
            padding-right: 17%;
            padding-left: 17%;
            padding-top: 50px;
            padding-bottom: 25px;
        }
        @include modifier('alternate') {
            @include breakpoint($bp-medium) {
                padding-right: 40px;
                padding-left: 40px;
            }
        }
    }
    @include element('paragraph') {
        text-align: center;
    }
    @include element('input') {
        display: none;
        &:checked + .tabs__label {
            background: $white;
        }
    }
    @include element('label') {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 10px;
        text-align: center;
        color: $astral;
        font-size: em(17px);
        font-weight: 600;
        &:before {
            font-family: fontawesome;
            font-weight: normal;
            margin-right: 10px;
        }
        &:hover {
            color: darken($astral, 10%);
            cursor: pointer;
        }
        @include breakpoint($bp-medium) {
            padding-right: 25px;
            padding-left: 25px;
            font-size: em(20px);
        }
    }
}

#tab1:checked ~ #new-to-mySpire,
#tab2:checked ~ #already-registered,
{
    display: block;
}