.tooltip {
    position: absolute;
    font-family: $font-family-body-base;
    right: 0px;
    top: 3px;
    font-size: em(12px);
    cursor: pointer;
    &:hover {
        .tooltip__content {
            display: block;
        }
    }
    @include modifier('label') {
        position: relative;
        right: -50px;
        top: -18px;
    }
    @include modifier('username') {
        right: -70px;
    }
    .mySpire-icon-info {
        position: absolute;
        top: -3px;
        left: 5px;
        color: $brand-supplement;
        font-size: em(30px);
        @include icon;
        
    }
    @include element('content') {
        display: none;
        position: absolute;
        width: 180px;
        bottom: -140px;
        left: -105px;
        padding: 10px 15px;
        background: $brand-supplement;
        color: white;
        text-align: left;
        border-radius: 6px;
        z-index: 100;
        @include breakpoint($bp-small) {
            bottom: -65px;
            left: 40px;
        }
        @include modifier('label') {
            bottom: -105px;
            @include breakpoint($bp-small) {
                bottom: -41px;
            }
        }
        @include modifier('active') {
            display: block;
        }
        &:after {
            content: '';
            position: absolute;
            top: -6px;
            right: 80px;
            width: 0; height: 0;
            border-bottom: 8px solid $brand-supplement;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            @include breakpoint($bp-small) {
                right: auto;
                left: -7px;                    
                top: 50%;
                margin-top: -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 8px 8px 0;
                border-color: transparent #46b4cd transparent transparent;
            }
            @include breakpoint($bp-medium) {
                right: 30px;
            }
        }
    }
}