// # Colors
// --------------------------------------------------
$black: black;
$white: white;

// Colours

$abbey: #46484b;
$xanadu: #6f716f;
$nobel: #b4b4b4;
$gray-suit: #cecdd3;
$aqua-haze: #F0F4F7;
$alabaster: #fafafa;
$smalt-blue: #508d88;
$patina: #639a95;
$astral: #3291a5;
$shakespeare: #46b4cd;
$william: #376e68;
$blue-dianne: #1e524b;
$pink: #d73181;
$deep-blush: #eb6ba9;
$viking: #6bc8de;
$lochinvar: #508e88;
$gallery: #F0F0F0;
$aluminium: #A2A3A5;
$alto: #dfdfdf;
$boston-blue: #3B9AB0;
$mystic: #E0E6EC;
$silver: #CCCCCC;
$dove-gray: #6C6C6C;
$plantation: #255540;
$pelorous: #3EA1B8;
$mercury: #E5E5E5;
$milano-red: #CC1300;
$green: #00CC18;

$brand-primary: $smalt-blue;
$brand-secondary: $patina;
$brand-tertiary: $astral;
$brand-supplement: $shakespeare;

$warning: #cf2e3a;
$alert: #a4bb54;

//** Global textual link color.
$link-color: $brand-primary !default;

//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
